version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: car_service_booking_db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: car_service_booking
    volumes:
      - postgres_data:/var/lib/postgresql/data-1
    restart: unless-stopped

volumes:
  postgres_data: